.Product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    padding: 10px;
    border: 2px solid rgba(38, 67, 102, 0.68);
    border-radius: 20px;
    .Favorite {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .imageWrapper {
      width: 70%;
      align-self: center;
      img {
        width: 100%;
      }
    }
  }
  